html,body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(142, 239, 248);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(33, 195, 210);

}